body {
  background-color: #A8E890;
  font-family: sans-serif;
  text-align:
}

h1 {
  margin-top: 63px;
  text-align: center;
}

form {
  background-color: #EDEDED;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-edit {
  text-align: left;
  margin-bottom: 25px;
}

.form-edit label {
  display: block;
  margin-bottom: 10px;
}

.form-edit input,
.form-edit select,
.form-edit textarea {
  border: 1px solid #777;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 95%;
}

button {
  background-color: #3D8361;
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  font-size: 21px;
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}
